body
{
	font-family: arial;
}

#box{
	background: pink;
	padding: 10px;
	border: 1px solid #000;
}

#box_a,
#box_b,
#box_c,
#box_d{
	background: pink;
	padding: 10px;
	border: 1px solid #000;
	margin-top: 10px;
}

.h1
{
	font-size: 40px;
	font-weight: bold;
	color: blue;
}