body
{
	font-family: arial;
}

#box,
#first,
#second{
	background: lightgreen;
	padding: 30px;
	margin: 20px;
	border: 1px solid #000;

}

#box2{
	padding: 10px;
	border: 5px solid #000;
	background: #FFBFCB;
}

.h1
{
	font-size: 40px;
	font-weight: bold;
	color: blue;
}

.first{
	background: tan;
}

.second{
	background: pink;
}

.boxbg
{
	background: pink;
}

#test{
	background: pink;
	padding: 5px;
}

.red
{
	color: red;  
}