body
{
	font-family: arial;
}

#box,
#box_a,
#box_b{
	background: lightgreen;
	padding: 10px;
	border: 1px solid #000;

}

.h1
{
	font-size: 40px;
	font-weight: bold;
	color: blue;
}

.first{
	background: tan;
}

.second{
	background: pink;
}

.boxbg
{
	background: pink;
}