body
{
	font-family: arial;
}

#box{
	background: pink;
	padding: 10px;
	border: 1px solid #000;
	width: 70%;
	overflow: auto;
	height: 200%;
}

.h1
{
	font-size: 40px;
	font-weight: bold;
	color: blue;
}